node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

dist/
build/
out/

*.tsbuildinfo

.prisma/
prisma/dev.db
prisma/migrations/
!prisma/schema.prisma  # оставляем схему

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

tmp/
temp/
*.tmp

coverage/
*.lcov

.cache/
.eslintcache
.next/
